@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #4c4c4c;
  --background-color: #fff;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

.break-phrase {
  word-break: auto-phrase;
}
